.servicos {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.servicos__lista {
    align-items: center;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 560px;
    width: 690px;
}

.servicos__lista:hover {
    background: var(--cor-secundaria);
    transform: scale(1.025);
}

.servicos__lista--imagem {
    height: 388px;
    width: 100%;
}

.servicos__lista--titulo {
    color: var(--cor-primaria);
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 600;
}

.servicos__lista--descricao {
    text-align: justify;
    line-height: 1.3rem;
}

.servicos__lista--titulo, .servicos__lista--descricao {
    margin: 2rem 2rem 0 2rem;
}

@media screen and (max-width: 1410px) {
    .servicos__lista {
        height: 450px;
        width: 550px
    }
}