.equipe {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 4.5em;
}

.equipe__ficha {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5rem;
}

.equipe__ficha--nome {
    color: var(--cor-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
}

@media screen and (max-width: 1330px) {
    .equipe {
        margin: 0 0.5rem;
    }
}