.home__historia{
    background: url("../../images/PATA.svg");
    background-repeat: no-repeat;
    background-position: 100% 10%;
    margin: 0 8%;
    padding-top: 5em;
}

.home__subtitulo {
    color: var(--cor-primaria);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2em;
    text-align: center;
}

.home__conteudo {
    display: flex;
    justify-content: space-evenly;
}

.historia__imagem {
    margin-right: 8em;
}

.historia__textos {
    align-self: center;
    max-width: 35%;
}

@media screen and (max-width: 1660px) {
    .home__historia{
        background-position: 100% 0%;
        margin: 0 5%;
    }

    .historia__imagem {
        margin-right: 5em;
        width: 600px;
    }
}